<h1>Listing clientes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Nacionalidad</th>
    <th>Pasaporte</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nombre %></td>
    <td><%= cliente.edad %></td>
    <td><%= cliente.nacionalidad %></td>
    <td><%= cliente.pasaporte %></td>
    <td><%= link_to 'Show', cliente %></td>
    <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cliente', new_cliente_path %>
